@charset "UTF-8";
body{font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin: 0.5rem;
  padding: 0;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li.icon {
  flex-basis: 25%;
}

header {
  background: rgb(125, 225, 165);
  padding: 20px;
}

.head_line a {
  display: block;
  text-align: center;
  margin: .25rem;
  padding: .5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: rgb(125, 225, 165);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}