<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.teamproject.phosk.branch.login.vo.BranchLoginVO" alias="branchLogin"/>
		<typeAlias type="com.teamproject.phosk.branch.info.vo.BranchInfoVO" alias="branchInfo"/>
		<typeAlias type="com.teamproject.phosk.branch.menu.vo.CategoryVO" alias="cateVO"/>
		<typeAlias type="com.teamproject.phosk.branch.menu.vo.ItemVO" alias="itemVO"/>
		<typeAlias type="com.teamproject.phosk.branch.menu.vo.BranchItemInfo" alias="branchItemInfo"/>
		<typeAlias type="com.teamproject.phosk.user.vo.MemberVO" alias="usermem"/>
		<typeAlias type="com.teamproject.phosk.user.vo.CardinfoVO" alias="usercard"/>
	</typeAliases>
</configuration>